/* variables */

.white {
    color: white;
}
.bg-light-gray {
    background-color: #707070;
}
.bg-gray {
    background-color: #23272C;
}
.bg-dark-gray {
    background-color: #151516;
}
.bg-light {
    background-color: #c7c7c7;
}
.bg-white {
    background-color: white;
}