/*
    header ////////////////////////////////////////////////////
*/

header{
    background-color: darkgray;
}
.header{
    height: 37vh;
    background-image: url(../Source/Produkte/Edan.jpg);
    background-position: center 1390px;
    align-items: center;
    opacity: 0.5;
}
.logo{
    opacity: 1;
    width: 18vh;
    height: 18vh;
    margin-left: 60px;
}

/*
    navbar ////////////////////////////////////////////////////
*/

.navigation-container{
    display: flex;
}
.navigation-item{
    color: #c7c7c7;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigation-item:hover{
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.mobile-container{
    display: none;
    margin-bottom: 10px;
}
.mobile-button {
    color: #c7c7c7;
    font-weight: bold;
    border: none;
    background-color: #23272C;
    border-bottom: 1px solid #c7c7c7 !important;
    display: block;

    min-width: 100%;
    padding: 16px 8px 16px 16px;
    position: relative;

}
.mobile-button:hover{
    color: white;
    border-bottom: 1px solid white !important;

}
.logo-small-mobile{
    width: 60px;
    align-items: center;
}

/*
    footer ////////////////////////////////////////////////////
*/

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    color: white;
    background-color: #707070;
}
.footer-item {
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: left;
}
.footer-list-item {
    color: white;
    padding: 10px 0px;
    font-weight: lighter;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: left;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
}
.help-button {
    color: #5C5C5C;
    padding: 14px 40px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: inherit;
    appearance: auto;
    border: none;
    border-radius: 8px;
}
.footer-bottom {
    color: white;
    background-color: #23272C;
    padding: 15px 15px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.showroom-iframe {
    padding: 15px 15px;
    padding-left: 0px;
}

.white {
    color: white;
}

.bg-light-gray {
    background-color: #707070;
}
.bg-gray {
    background-color: #23272C;
}
.bg-dark-gray {
    background-color: #1F2125;
}
.bg-light{
    background-color: #c7c7c7;
}
.bg-white{
    background-color: white;
}

.shadow-bottom{
    border: 1px solid;
    border-color: transparent;
    padding: 10px;
    box-shadow: 0px 15px 15px -15px #000
}

.shadow-top{
    border: 1px solid;
    border-color: transparent;
    padding: 10px;
    box-shadow: 0px -15px 10px -15px #000;
}

@media only screen and (max-width:950px){
    .navigation-container{
        display: none;
    }
    .mobile-container{
        display: grid;
    }
    .logo
    {
        display: none;
    }
}