body {
    overflow: overlay;
    font-family: 'Assistant', sans-serif; 
}
.container{
    padding: 0px 0px !important;
}
/* header //////////////////////////////////////////////////*/

header {
    background-color: darkgray;
}
.header {
    height: 60vh;
    background-image: url(../../Source/Produkte/Edan.jpg);
    background-position: center 1390px;
    align-items: center;
    opacity: 0.5;
}
.logo {
    width: 18vh;
    height: 18vh;
    margin-left: 60px;
    position: absolute;
    top: 150px;
    left: 20px;
}

/* navbar //////////////////////////////////////////////////*/
.navigation-container {
    display: flex;
    justify-content: center;
}
.navigation-item {
    color: #c7c7c7;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.navigation-item:hover {
    color: #F56147;
    transition: 0.3s;
}
.mobile-container {
    display: none;
    margin-bottom: 10px;
}
.mobile-button {
    color: #c7c7c7;
    font-weight: bold;
    border: none;
    background-color: #23272C;
    border-bottom: 1px solid #c7c7c7 !important;
    display: block;
    min-width: 100%;
    padding: 16px 8px 16px 16px;
    position: relative;
}
.mobile-button:hover {
    color: white;
    border-bottom: 1px solid white !important;
}
.logo-small-mobile {
    width: 60px;
    align-items: center;
}
/* main //////////////////////////////////////////////////*/
.location{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 10px;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 2px solid;
    border-color: #23272C;
    animation: c 2s infinite;
}
@keyframes c{
    0%  { color: #F84B34; }
    50% { color: #f3674e; }
    100%{ color: #F84B34; }
}
.text{
    font-weight: normal;
    margin-bottom: 5px !important;
}
.h1-titel{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 80px;
    margin-top: 20px !important;
    padding-left: 10px;
    border-bottom:2px solid #23272C;
}
.team-container{    
    border: solid;
    border-radius: 8px;
    border-color: #23272C;
    background: #23272C;
    width: 350px;
    height: 400px;
    padding: 15px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    transition:.2s all;
}
.team-container:hover{
    transition: .2s all;
    border: solid;
    border-color: #f73f27cb;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
}
.team-container:hover .team-container-info .info-img img{
    transition: 2s all;
    opacity: 0.6;
}
.team-container-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.info-img{
    height: 250px;
    width: 100%;
}
.info-img img{
    width: 100%;
    border-radius: 8px;
}
.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 20px 0px 0px 0px;
    border-bottom: 2px solid;
    border-color: #505050;
}
.info-name{
    font-weight: bold;
    font-size: 18px;
    animation: c 2s infinite;
    padding: 10px 10px;
    border-bottom: 2px solid;
    border-color: #505050;
}
.info-contact{
    padding: 10px 10px 20px 10px;
    font-style:unset;
    font-size: 15px;
}
.info-rang{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 5px;
    border-top: 2px solid;
    border-color: #505050;
    height: 100%;
}
.ceo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.unter-ceo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;

}
.website-container{
    display: flex;
    align-content: center;
    flex-direction: column;
    border: solid;
    border-radius: 8px;
    border-color: #23272C;
    background: #23272C;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    transition:.2s all; 
}
.website-container:hover{
    transition: 2s all;
    border: solid;
    border-color: #f73f27cb;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
}
.website-space{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 2px solid;
    border-color: #505050;
    font-weight:500;
    font-size: 15px;
}
.website-center-icon{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid;
    border-color: #ffffff;
}
.website-center{
    padding-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.web-ref{
    list-style: none;
    color: white;
    font-size: 15px;
    text-decoration: none;
    transition: .3s all;
}
.web-ref:hover{
    color: #F56147;
    padding-right: 10px;
    transition: 0.3s;
}

/* footer //////////////////////////////////////////////////*/
.footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px 20px;
    color: white;
    background-color: #707070;
}
.footer-item {
    width: 25%;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    justify-content: left;
}
.footer-list-item {
    list-style: none;
    color: white;
    padding: 10px 0px;
    font-weight: lighter;
    text-decoration: none;
    justify-content: left;
    margin-left: 0px;
}
.footer-list-item:hover {
    color: #F56147;
    transition: 0.3s;
}
.no-ul {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px !important;
    font-weight: lighter;
    overflow-wrap: break-word;
}
.help-button {
    margin-top: 15px;
    color: #5C5C5C;
    padding: 14px 15px;
    font-weight: lighter;
    font-size: inherit;
    appearance: auto;
    border: none;
    border-radius: 8px;
}
.help-button:hover{
    background-color: #F56147;
    transition: 0.3s;
}
.t {
    font-weight: lighter;
    display: block;
}
.showroom-iframe {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    color: white;
    margin: 40px 40px;
    font-weight: normal;
}
.impressum-container{
    margin-left: 40px;
}
/*Responsive //////////////////////////////////////////////////*/
@media only screen and (max-width:992px) {
    .footer-item{
        width: 50%;
        padding-bottom: 20px;
    }
    .team-container{
        width: 80% !important;
        height: 450px !important;
    }
    .info-img{
        width: 400px !important; 
    }
    .info-img .img{
        margin-left: 16%;
    }
}
@media only screen and (max-width:700px) {
    .footer-item{
        width: 100%;
        padding-top: 20px;
        border-bottom: 2px solid;
    }
}
@media only screen and (max-width:767px) {
    .ceo{
        
        width: 100% !important;
    }
    .unter-ceo{
        width: 100% !important;
    }
    .team-container{
        width: 100% !important;
        height: 450px !important;
        margin-left: 0px;
        margin-right: 0px;
    }
    .info-img{
        width: 80% !important;
    }
    .info-img .img{
        margin-left: 10%;
    }
}
@media only screen and (max-width:950px) {
    .navigation-container {
        display: none;
    }
    .mobile-container {
        display: grid;
    }
    .logo {
        display: none;
    }
    .header{
        height: 38vh;
    }
}

/*Colors //////////////////////////////////////////////////*/
.white {
    color: white;
}
.bg-light-gray {
    background-color: #707070;
}
.bg-gray {
    background-color: #23272C;
}
.bg-dark-gray {
    background-color: #151516;
}
.bg-light {
    background-color: #c7c7c7;
}
.bg-white {
    background-color: white;
}

/*Shadows //////////////////////////////////////////////////*/
.shadow-bottom {
    border: 1px solid;
    border-color: transparent;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);

}
.shadow-top {
    border: 1px solid;
    border-color: transparent;
    padding: 10px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.6);
}
.shadow-top-bottom {
    border: 1px solid;
    border-color: transparent;
    padding: 10px;
    box-shadow: 0px -7px 5px rgba(0, 0, 0, 0.6), 0px 10px 5px rgba(0, 0, 0, 0.6);
}

/*Scrollbar //////////////////////////////////////////////////*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, #F22F37),
            color-stop(0.72, #F84B34),
            color-stop(0.86, #F56147));
}
::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: transparent;
}